
@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    
}



@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


body {
   background-image: url('https://img.freepik.com/free-photo/close-up-minimal-laptop-desktop-render-background_53036-39.jpg');
  /*  background: linear-gradient(-45deg, #5e09a8, #547dd5, #23a6d5, #902ba9);*/
   animation: gradient 5s ease infinite;
   overflow: scroll;
   background-attachment: fixed;
   background-size: cover;
	/*height:auto;*/
/* background: linear-gradient(30deg, #ffcc5c 20% 25%, #e57dec 10% 25%, #ff6f69 60% 25%, #41d6e7  25%);*/
   align-items: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #000;
  color: rgb(0, 0, 0);
  height: 100vh;;
  
}
div.a {
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 0);
  }
  .navbar {
    overflow: hidden;
    background-color:none;

  }
  
  
  .navbar a {
    float: right;
    font-size: 26px;
    color: white;
    text-align: center; 
    text-decoration: none;

  }

  .btn5{
    background-color:rgb(246, 237, 237);
          border: none;
          color: black;
          padding: 20px 34px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 20px;
          margin: 4px 2px;
          cursor: pointer;
  }
  #a {
    background-color:none;
    color: #000000;
    list-style: none;
    width:300px;
    height:300px;
}

h1{
  color:#010101;
}
h2{
  color:#010101;
}
h3{
  color:#000000;
  ;
}
p{
  color: #000000;
  text-align: center;
}
.card-body{
  background-color: #c381e9;
  border-radius:none;
}
.noteCard{
  background-color: #e189ca;
  border-radius: none;
}

.navbar-brand{
  color:#000000;
  text-decoration: solid;
}
.btn{
  background-color: #b05ac1;
}